<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Birthdaycake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC4157A1BE79C780024F1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC4158E1BE79C780024F1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC415991BE79C780024F1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
